@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
}

header h1 {
  margin-top: 50px;
  margin-left: 80px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #4F4F4F;
}

main {
  display: flex;
}

main .main {
  margin: 0 80px;
  margin-top: 50px;
}

main .main .lign {
  margin: 30px 0;
  display: flex;
}

main .main .lign .button-container {
  margin-right: 70px;
}

footer {
  display: flex;
}

footer p {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 35px;
}


/* BUTTONS */

/* button classic */
main .main .button-classic {
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
  color: #3F3F3F;
}

main .main .button-classic:hover,
main .main .button-classic:focus {
  background-color: #AEAEAE;
}

/* button variant-outline */
main .main .button-variant-outline {
  background-color: #FFFFFF;
  border: 1px solid #3D5AFE;
  color: #3D5AFE;
}

main .main .button-variant-outline:hover,
main .main .button-variant-outline:focus {
  background-color: rgba(41, 98, 255, 0.1);
}

/* button variant-text */
main .main .button-variant-text {
  background-color: #FFFFFF;
  border: none;
  color: #3D5AFE;
}

main .main .button-variant-text:hover,
main .main .button-variant-text:focus {
  background-color: rgba(41, 98, 255, 0.1);
}

/* button disableShadow */
main .main .button-disableShadow {
  background-color: #3D5AFE;
  border: none;
  color: #FFFFFF;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* button disabled */
main .main .button-disabled {
  background-color: #E0E0E0;
  border: none;
  color: #3F3F3F;
}

/* button variant-text disabled */
main .main .button-variant-text-disabled {
  background-color: #FFFFFF;
  border: none;
  color: #3F3F3F;
}

/* button startIcon */
main .main .button-startIcon {
  background-color: #3D5AFE;
  border: none;
  color: #FFFFFF;
  display: flex;
}

main .main .button-startIcon i {
  margin-right: 10px;
}

/* button endIcon */
main .main .button-endIcon {
  background-color: #3D5AFE;
  border: none;
  color: #FFFFFF;
  display: flex;
}

main .main .button-endIcon i {
  margin-left: 10px;
}

/* button small */
main .main .button-small {
  background-color: #3D5AFE;
  border: none;
  color: #FFFFFF;
}

/* button medium */
main .main .button-medium {
  background-color: #3D5AFE;
  border: none;
  color: #FFFFFF;
}

/* button large */
main .main .button-large {
  background-color: #3D5AFE;
  border: none;
  color: #FFFFFF;
}
